extends layout


block content

  .header
    
    .peerInformation(id="pred")
      .peerTitle
        a(href="http://#{pred.ip}:#{pred.port}") #{pred.id}
    .peerInformation(id="thisPeer")
      .peerTitle 
        p #{thisPeer.id}
    .peerInformation(id="succ")
      .peerTitle
        a(href="http://#{succ.ip}:#{succ.port}") #{succ.id}


  .leftBar
    .bottomOfBar

      - var hidden = pred.ip != 'null';
      .joinForm(class=hidden ? 'hidden' : '')
        form(id="join")
          .input
            p Ip:
            input(type="text", name="ip", value="localhost")
          .input
            p Port:
            input(type="text", name="port", value="4000")
          .action
            input(type="submit", value="Join Peer")

      .leave(class=hidden ? '' : 'hidden')
        input(type="submit" value="leave ring" id="leave")
      

  .fingerTable
    h3 Hash table
    table
      tr
        td FINGERID
        td IP
        td PORT
        td ID
      for entry in fingerTable
        - if(typeof(entry) !== 'undefined'){
          tr
            td #{entry.fingerID}
            td #{entry.ip}
            td #{entry.port}
            td #{entry.id}
        - }


